<b>What does one need to do to use a module?</b><br>
We need to import the module in python to use it.

<b>Name a Module (not the DateTime Nodule) we looked at and write a line or 2 of code as an example using this module.</b><br>
Module: Numpy([52,23,22])
Ex: numpy.array

<b>What is a benefit of using Exception handling?</b><br>
By using exception handling we can avoid errors and debugging becomes easy.

<b>what are the 4 components used for Python Exception Handling?</b><br>
try, except, else, finally

<b>NumPy arrays are like what Python data type?</b><br>
Numpy array is like list datatype in python.

<b>What is one of the main benefits of using NumPy arrays.</b><br>
The main benefit of using using numpy array is to efficiently perform operations on the data.

<b>What is one of the main requirements about the 'dtype' of NumPy arrays?</b><br>
One of the main requirement about dtype is to store data in contiguous memory location.

<b>Of the 10 uses of NumPy, name 2.</b><br>
To perform airthmetic operation efficiently and access the data quickly.

<b>Name one of the other libraries we'll use with NumPy?</b><br>
Pandas

<b>What is the shape of NumPy arrays?</b><br>
The shape of the array represents the dimension of the array.

<b>What is a Tensor?</b><br>
A tensor is a single or multi dimensional array than has more than one dimension.

<b>Name a reason why it's better using NumPy for Data Analysis than using a Python List?</b><br>
The qucik access of data, makes it better using Numpy for data analysis and to perform mathematical operations.

<b>When creating an "empty" array, where do the elements come from?</b><br>
By default the empty array takes the value of memory location where it is created.

In [ ]:
# Create an if statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable", however if 'age' is less than 25, print "Renting a car is very expensive."
age = 24

if age >= 25:
    print("Renting a car is more affordable.")
else:
    print("Renting a car is very expensive.")

Renting a car is very expensive.

In [ ]:
# Create and chain an if-else statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable." If 'age' is less than 25 but greater than or equal to 18, print "Renting a car is very expensive." Finally, if age is less than 18, print "You cannot legally rent a car."
age = 20

if age >= 25:
    print("Renting a car is more affordable.")
elif age >= 18:
    print("Renting a car is very expensive.")
else:
    print("You cannot legally rent a car.")

Renting a car is very expensive.

In [ ]:
# Loop over the following string to (1) count all the characters in the string and (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog"
string = "The quick brown fox jumps over the lazy dog"
vowels = "aeiou"
vowel_count = 0

for char in string:
    if char in vowels:
        print(char, end=" ")
    vowel_count += 1

print("\nTotal characters in the string:", vowel_count)

e u i o o u o e e a o
Total characters in the string: 43

In [ ]:
# Write a nested loop that prints out every piece of clothing from the couture list, in every fashionable color from the panettone set: couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}
couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"]
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

for clothing in couture:
    for color in panettone:
        print(f"{color} {clothing}")

fuchsia trousers
burnt sienna trousers
gunmetal blue trousers
Dark Sapphire trousers
aqua trousers
cerise trousers
auburn trousers
maple trousers
fuchsia blouse
burnt sienna blouse
gunmetal blue blouse
Dark Sapphire blouse
aqua blouse
cerise blouse
auburn blouse
maple blouse
fuchsia bandana
burnt sienna bandana
gunmetal blue bandana
Dark Sapphire bandana
aqua bandana
cerise bandana
auburn bandana
maple bandana
fuchsia cumber band
burnt sienna cumber band
gunmetal blue cumber band
Dark Sapphire cumber band
aqua cumber band
cerise cumber band
auburn cumber band
maple cumber band
fuchsia blazer
burnt sienna blazer
gunmetal blue blazer
Dark Sapphire blazer
aqua blazer
cerise blazer
auburn blazer
maple blazer
fuchsia vest
burnt sienna vest
gunmetal blue vest
Dark Sapphire vest
aqua vest
cerise vest
auburn vest
maple vest
fuchsia french beret
burnt sienna french beret
gunmetal blue french beret
Dark Sapphire french beret
aqua french beret
cerise french beret
auburn french beret
maple french beret
fuchsia scarf
burnt sienna scarf
gunmetal blue scarf
Dark Sapphire scarf
aqua scarf
cerise scarf
auburn scarf
maple scarf
fuchsia stole
burnt sienna stole
gunmetal blue stole
Dark Sapphire stole
aqua stole
cerise stole
auburn stole
maple stole

In [ ]:
# Use range as a loop to calculate the sum of all the numbers from 1 to 100
N_numbers = sum(range(1, 101))
print("Sum of numbers from 1 to 100:",N_numbers)

Sum of numbers from 1 to 100: 5050

In [ ]:
# Print the second item in this fruits list. ["apple", "banana", "cherry"]
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [ ]:
# Change the value from "apple" to "kiwi", in the fruits list. ["apple", "banana", "cherry"]
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [ ]:
# Use the append method to add "orange" to the fruits list. ["apple", "banana", "cherry"]
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Use the insert method to add "lemon" as the second item in the fruits list. ["apple", "banana", "cherry"]
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [ ]:
# Use the remove method to remove "banana" from the fruits list. ["apple", "banana", "cherry"]
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [ ]:
# Use negative indexing to print the 3rd and 2nd to last items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print("The last 3rd item in the list is ",fruits[-3])
print("The last 2nd item in the list is ",fruits[-2])

The last 3rd item in the list is  kiwi
The last 2nd item in the list is  melon

In [ ]:
# Use a range of indexes to print the third, fourth, and fifth item in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print("The third, fourth, and fifth item in the fruit list is",fruits[2:5])

The third, fourth, and fifth item in the fruit list is ['cherry', 'orange', 'kiwi']

In [ ]:
# Use the correct syntax to print the number of items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print("The lenght of the fruits list is ",len(fruits))

In [ ]:
# Use the correct syntax to sort this list in reverse order ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits.sort(reverse=True)
print("The reverse order of the list is ",fruits)

The reverse order of the list is  ['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [ ]:
# Use the DateTime module to get Current Date and Time, and save it to a variable. Then extract just the Full month name form that variable.
import datetime
current_datetime = datetime.datetime.now()
month_name = current_datetime.strftime("%B")
print("Current month:", month_name)

Current month: August

In [ ]:
# Write a simple function that takes 2 parameters -- a first name and a day name.
# Set a default value for the day name of Sunday.
# Have the function print out a greeting -- using the parameters -- that says something like "Hi first-name! Happy day-name!". Remember to use the variables in the greeting to replace first-name and day-name.
# Invoke this function with 2 variables.
# Invoke this function with 1 variable only.

def greet(first_name, day_name="Sunday"):
    print(f"Hi {first_name}! Happy {day_name}!")

greet("Alice", "Monday")
greet("Bob")

Hi Alice! Happy Monday!
Hi Bob! Happy Sunday!

In [ ]:
# Write a block of code to handle one of the most common Python exception errors.
# Select one of the common errors from the curriculum section on Python Exception handling.
# Have your code example uses the try,except, else, and finally components.

def divide_numbers(numerator, denominator):
    try:
        result = numerator / denominator
    except ZeroDivisionError:
        print("Error: Division by zero is not allowed.")
    else:
        print(f"Division successful! The result is {result}.")
    finally:
        print("Division operation complete.")

print("Dividing by 0 /n",divide_numbers(10, 0))
print("Dividing by 2 /n",divide_numbers(10, 2))

Error: Division by zero is not allowed.
Division operation complete.
Dividing by 0 /n None
Division successful! The result is 5.0.
Division operation complete.
Dividing by 2 /n None