<b>1. What is an algorithm?</b><bR>
Group pf procedures put together for execution in an order is known as algorithm.

<b> 2. Variable names may not start with certain characters - name two.</b><bR>

*   It should not start with underscore(_)
*   It should not start with number



<b>3. What is a Semantic error?</b><bR>
Logical error is known as sematic error.

<b>4. What is the #1 rule of coding / debugging?</b><bR>
The #1 rule is to test code and validate it frequently.


<b>5. List 5 Python reserved words.</b><bR>
NULL, IF, AND, OR, ELSE, TRUE

In [ ]:
#Write a multi-line string with your name, favorite food, and dream job on 3 different lines
info = """Sunny likes to
eat Banana Cake and love to work as
Data Analyst"""
print(info)

Sunny likes to
eat Banana Cake and love to work as
Data Analyst

In [ ]:
# Assign 5 different data types to 5 different variables. At least one datatype must be a string
# Print the length of your string
# Print the index value of the 4th character in your string

str1 = "Sunny Shabaz"
int2 = 42
flt3 = 3.14
lst4 = [13, 45, 37, 44, 52]
bool5= True

print("The length os the string is ",len(str1))

print("The index value of the 4th character in string is ",str1[3])

The length os the string is  12
The index value of the 4th character in string is  n

In [ ]:
# Create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome!"
# Return a range of characters that slices the above string from the beginning of "ing" up to before "and"
# Replace "Awesome" with "great" in the string
# Test and print the savvy string to see it contains "Python"

savvy="Learning Data Analytics and Python is Awesome!"

savvy1 = savvy[savvy.index("ing") : savvy.index("and")].strip()
print(savvy1)

savvy2= savvy.replace("Awesome", "great")
print(savvy2)

check_py = "Python" in savvy
print(check_py)

ing Data Analytics
Learning Data Analytics and Python is great!
True

In [ ]:
# Create and assign 3 more variables called name, age and length using the multi-variable naming method
# Format a new string called 'miniBio' using variables in curly brackets to complete this phrase... "Hi my name is (name), I am (tall) and (so) old today."
# Print 'miniBio'
# Cast and print the age variable to a float

name, age, length = "Sunny", 25, 6.2

# Formatting the string
miniBio = f"Hi, my name is {name}, I am {length} feet tall and {age} years old today."

# Printing the formatted string
print(miniBio)

# Casting and printing the age variable as a float
age_float = float(age)
print(age_float)

Hi, my name is Sunny, I am 6.2 feet tall and 25 years old today.
25.0

In [ ]:
# Create a list of at least 5 elements of mixed data types
# Replace a part of it with something else
# Append or insert several more items to the list
# Find and print the length of the list
# Slice a sub-section of the 1st list, and save it to a different 2nd list
# Print the 2nd list
# Extend your original list with the 2nd list sliced above
# Create a new list called "simList" containing at least 5 elements of the same data type, either string, integer, float, or Boolean
# Sort "simList", and print the list
# Copy the "simList" list to another 3rd list
# Add the 2nd and 3rd lists together into a 4th list


# Creating list1
list1 = [42, "Python", 3.14, True, [1, 2, 3]]

# Replacing string value in list1
list1[1] = "Data Analytics"
print("List1 after replacing ", list1)

# Append or insert several more items to the list
list1.append(23)
list1.insert(4, 52)
print("List1 after appending and insertion ",list1)
print("Length of List1 ",len(list1))

# Slicing the list1
list2 = list1[1:3]
print("Sliced List2 ", list2)
list1.extend(list2)
print("List1 + List2 ",list1)

# Creaing a simList
simList = [8.2, 3.0, 5.7, 1.4, 7.1]
simList.sort()
print("Sorted silList ",simList)

# Copy the "simList" list to another 3rd list
list3= simList.copy()

list4 = list2 + list3
print("List2 + List3", list4)

List1 after replacing  [42, 'Data Analytics', 3.14, True, [1, 2, 3]]
List1 after appending and insertion  [42, 'Data Analytics', 3.14, True, 52, [1, 2, 3], 23]
Length of List1  7
Sliced List2  ['Data Analytics', 3.14]
List1 + List2  [42, 'Data Analytics', 3.14, True, 52, [1, 2, 3], 23, 'Data Analytics', 3.14]
Sorted silList  [1.4, 3.0, 5.7, 7.1, 8.2]
List2 + List3 ['Data Analytics', 3.14, 1.4, 3.0, 5.7, 7.1, 8.2]

In [ ]:
# Create a tuple of about 5 elements
# Multiply your tuple by 3 and save it to a new 2nd tuple
# Access and print the 12th element from the 2nd tuple
# Sort the 2nd tuple and print it
# Copy 4 specific elements from your 2nd tuple to a new 3nd tuple
# Unpack the 3rd tuple into 4 variables and print these variables
# Create a 4th tuple with single item 50 and print this tuple
# Add the 2nd and 3rd tuple together into a 5th tuple and print the tuple

tuple1 = (10, 52, 3.14, 77, 14)

tuple2 = tuple1 * 3
print("tuple2 ", tuple2)
print("12th element in tuple2 ",tuple2[11])
print("Sorted tuple2 ",tuple(sorted(tuple2)))

tuple3 = (tuple2[1], tuple2[3], tuple2[5], tuple2[7])
print("Tuple3 ",tuple3)

a1, a2, a3, a4 = tuple3
print("Unpacked tuple3 ",a1, a2, a3, a4)

tuple4 = (50,)
print("Tuple4 ",tuple4)

tuple5 = tuple2 + tuple3
print("tuple2+tuple3 ",tuple5)

tuple2  (10, 52, 3.14, 77, 14, 10, 52, 3.14, 77, 14, 10, 52, 3.14, 77, 14)
12th element in tuple2  52
Sorted tuple2  (3.14, 3.14, 3.14, 10, 10, 10, 14, 14, 14, 52, 52, 52, 77, 77, 77)
Tuple3  (52, 77, 10, 3.14)
Unpacked tuple3  52 77 10 3.14
Tuple4  (50,)
tuple2+tuple3  (10, 52, 3.14, 77, 14, 10, 52, 3.14, 77, 14, 10, 52, 3.14, 77, 14, 52, 77, 10, 3.14)

In [3]:
# Create a set of about 3 elements
# Add a list of fruits to the above set and print the result
# Add a car element to your set
# Create a 2nd set with a few odd items
# Save the union of 1st set and 2nd set to a 3rd set
# Pop an element from the 2nd set, and print the remainder of the set
# Clear the 1st set and print the result
# Discard an element, and remove another element from the 3rd set
# Print the remainder of the 3rd set

set1 = {"Missouri", "Texas", "New York"}
print("set1: ",set1)

lt_fruits = ["Grapes", "Rasberry", "Blueberry"]
set1.update(lt_fruits)
print("Updated set1 after adding fruits: ", set1)

set1.add("car")
print("Updated set1 after adding a car: ", set1)

set2 = {"Jeep", "Pepper", "Sub"}
print("set2:", set2)

set3 = set1.union(set2)
print("set3: ", set3)

popped_elt = set2.pop()
print("Popped element:", popped_elt)
print("Updated set2 after popping second element:", set2)

set1.clear()
print("Updated set1 after clearing:", set1)

set3.discard("Sub")
set3.remove("Blueberry")
print("Updated set3 after discarding and removal:", set3)

set1:  {'New York', 'Texas', 'Missouri'}
Updated set1 after adding fruits:  {'Missouri', 'Rasberry', 'Texas', 'Grapes', 'Blueberry', 'New York'}
Updated set1 after adding a car:  {'Missouri', 'Rasberry', 'Texas', 'Grapes', 'Blueberry', 'New York', 'car'}
set2: {'Pepper', 'Jeep', 'Sub'}
set3:  {'Missouri', 'Rasberry', 'Grapes', 'Texas', 'Blueberry', 'Jeep', 'New York', 'car', 'Pepper', 'Sub'}
Popped element: Pepper
Updated set2 after popping second element: {'Jeep', 'Sub'}
Updated set1 after clearing: set()
Updated set3 after discarding and removal: {'Missouri', 'Rasberry', 'Grapes', 'Texas', 'Jeep', 'New York', 'car', 'Pepper'}

In [5]:
# Create a dictionary with at least 5 values of different data types
# Print out 1 value
# Replace any one value in your dictionary with your name
# Add your favorite color to the dictionary
# Add a list, tuple or set to your dictionary
# Print a list of the dictionary keys
# Print a list of the dictionary values
# Copy your 1st dictionary into a 2nd dictionary
# Pop an item from the 2nd dictionary, and print the dictionary
# Remove all the elements from the 2nd dictionary and print the result

my_dict = {
    "year": 2024,
    "place": "St Louis",
    "status": True,
    "price": 2.34,
    "fruits": ["apple", "pineapple", "custardapple"]
}

print("place value in my_dict is: ", my_dict["place"])

my_dict["place"] = "Sunny"
print("Updated dict after replacing place with my name: ", my_dict)

my_dict["fav_color"] = "Grey"
print("Updated dictionary after adding fav_color: ", my_dict)

my_dict["lt_fruits"] = lt_fruits  # Adding existing fruit list to my_dict
print("Updated dictionary after adding a list:", my_dict)

print("Dictionary keys: ", list(my_dict.keys()))

print("Dictionary values: ", list(my_dict.values()))

dict2 = my_dict.copy()
print("dict2: ", dict2)

pop_item = dict2.pop("status")
print("Popped item:", pop_item)
print("Updated dicct2 after popping status: ", dict2)

dict2.clear()
print(" dict2 after clearing all elements: ", dict2)

place value in my_dict is:  St Louis
Updated dict after replacing place with my name:  {'year': 2024, 'place': 'Sunny', 'status': True, 'price': 2.34, 'fruits': ['apple', 'pineapple', 'custardapple']}
Updated dictionary after adding fav_color:  {'year': 2024, 'place': 'Sunny', 'status': True, 'price': 2.34, 'fruits': ['apple', 'pineapple', 'custardapple'], 'fav_color': 'Grey'}
Updated dictionary after adding a list: {'year': 2024, 'place': 'Sunny', 'status': True, 'price': 2.34, 'fruits': ['apple', 'pineapple', 'custardapple'], 'fav_color': 'Grey', 'lt_fruits': ['Grapes', 'Rasberry', 'Blueberry']}
Dictionary keys:  ['year', 'place', 'status', 'price', 'fruits', 'fav_color', 'lt_fruits']
Dictionary values:  [2024, 'Sunny', True, 2.34, ['apple', 'pineapple', 'custardapple'], 'Grey', ['Grapes', 'Rasberry', 'Blueberry']]
dict2:  {'year': 2024, 'place': 'Sunny', 'status': True, 'price': 2.34, 'fruits': ['apple', 'pineapple', 'custardapple'], 'fav_color': 'Grey', 'lt_fruits': ['Grapes', 'Rasberry', 'Blueberry']}
Popped item: True
Updated dicct2 after popping status:  {'year': 2024, 'place': 'Sunny', 'price': 2.34, 'fruits': ['apple', 'pineapple', 'custardapple'], 'fav_color': 'Grey', 'lt_fruits': ['Grapes', 'Rasberry', 'Blueberry']}
 dict2 after clearing all elements:  {}